html,
body {
    margin: 0;
    padding: 0;
}
body {
    width: 450px;
    height: 335px;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    color: white;
}
.layout-positioner::after {
    display: table;
    content: "";
    clear: both;
}

.layout-positioner {
    width: 350px;
    margin: auto;
}

.head,
.promo {
    background-color: #34495e;
    padding-top: 10px;
    padding-bottom: 10px;
}

.head .layout-column {
    background-color: #c0392b;
    min-height: 25px;
    padding: 5px;
}

.menu {
    background-color: #3498db;
}

.menu .layout-column,
.footer .layout-column {
    padding: 5px;
    min-height: 25px;
}

.promo .layout-column {
    float: left;
    margin-right: 10px;
    width: 165px;
    background-color: #c0392b;
    min-height: 55px;
    padding-top: 5px;
    padding-left: 5px;
}

.promo .layout-column:last-child {
    margin-right: 0px;
}

.features .layout-column {
    float: left;
    margin: 10px 10px 10px 0px;
    width: 65px;
    background-color: #3498db;
    min-height: 105px;
    padding-top: 5px;
    padding-left: 5px;
}

.features .layout-column:last-child {
    margin-right: 0px;
}

.features .main {
    width: 185px;
}

.footer {
    background-color: #34495e;
}